// snippet A
snippet.Test(t, ".")
// end A


// snippet B
old := snippet.ExpectSnippets
defer func() {
	snippet.ExpectSnippets = old
}()
snippet.ExpectSnippets = "./fail.snippets"
// end B


// snippet deferfunc
defer func() {
	if err != nil {
		err = errors.Join(
			fmt.Errorf("%s. Filename : `%s`", op, filename),
			err,
		)
	}
}()
// end deferfunc



